* { 
	margin: 0; 
	box-sizing: border-box;
}

body { font-family: 'Roboto', sans-serif; }

.wrapper {
	margin: auto;
	width: 80%;
}

.header__container { 
	display: flex; 
	justify-content: space-between;
}

/* Header */
.header {
	padding: 43px 0;
	margin-bottom: 124px;
}

.logo {
	/* Рисуем круги сами */
	padding-left: 50px;
	position: relative;
	transform: translateY(-2px);
	font: bold 24px/31px 'Pt Serif', Arial, Helvetica, Sans-serif;
}

/* Основные свойства для обоих кругов */
.logo__circle {
	position: absolute;
	top: 40%;
	left: 4px;
	width: 28px;
	height: 28px;
	transform: translateY(-50%);
	border-radius: 50%;
	opacity: .7;
}

/* Верхний кружок */
.logo__circle_color_dark_blue { background-color: #0056EC; }

/* Нижний кружок */
.logo__circle_color_blue {
	left: 12px;
	top: 60%;
	background-color: #C8DBFB;
}

/* Меню */
.menu {
	display: flex;
	align-items: center;
}

.menu__item {
	position: relative;
	margin-right: 22px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	color: #000;
	transition: opasity .5s;
}

.menu__item:nth-child(2) { margin-right: 23px; }

.menu__item:nth-child(3),
.menu__item:nth-child(4) { margin-right: 30px; }

.menu__item:last-child { margin-right: 10px; }

 .menu__item::after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 0;
	height: 3px;
	background-color: #0056EC;
	transition: opacity .5s, width .5s;
}

.menu__item__active::after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background-color: #0056EC;
}

.menu__item:hover::after,
.menu__item__active:hover::after{
	opacity: 1;
	width: 100%;
}

.menu__item:hover { opacity: .8; }

/* Основной блок main-section */
.main__container {
	padding-right: 50%;
	padding-bottom: 150px;
	margin-bottom: 120px;
	background: no-repeat top right url(img/bgc.svg);
}

.main__title {
	padding-top: 76px;
	margin-bottom: 35px;
	margin-left: 6px;
	letter-spacing: 3px;
	font: bold 66px/87px 'Pt Serif', Arial, Helvetica, Sans-serif;
	
}

.main__title_bg { 
	background: linear-gradient(to bottom, #fff 10%, #ECF3FF 20%);
}


.main__subtitle {
	margin-bottom: 41px;
	margin-left: 2px;
	width: 455px;
	font-size: 22px;
	line-height: 26px;
}

.main__btn {
	display: inline-block;
	padding: 18px 37px 18px 21px;
	margin-left: 4px;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	color: #fff;
	background-color: #0056EC;
	border-radius:	4px;	
	transition: transform .5s;
}

.main__btn:hover { transform: scale(1.2); }

.main__slider {
	display: flex;
	margin-left: 46.3%;
	margin-bottom: 100px;
	list-style-type: none;
}

.main__slider__item:not(last-child) { margin-right: 5px; }

.main__slider__btn {
	display: block;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background-color: #C8DBFB;
	border-radius: 50%;
}
