* {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	margin: auto;
	width: 79%;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

/* Header */
.header {
	padding: 28px 0;
	margin-bottom: 140px;
}

.logo {
	/* Рисуем круги сами */
	padding-left: 44px;
	position: relative;
	font: bold 24px/31px 'Pt Serif', Arial, Helvetica, Sans-serif;
}

/* Основные свойства для обоих кругов */
.logo__circle {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border-radius: 50%;
	opacity: .7;
}

/* Верхний кружок */
.logo__circle_color_dark_blue {
	background-color: #0056EC;
}

/* Нижний кружок */
.logo__circle_color_blue {
	left: 8px;
	top: 56%;
	background-color: #C8DBFB;
}

/* Меню */
.menu {
	display: flex;
	align-items: center;
}

.menu__item {
	position: relative;
	margin-right: 42px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #000;
	transition: opasity .5s;
}

.menu__item:last-child {
	margin-right: 0;
}


 .menu__item::after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 0;
	height: 3px;
	background-color: #0056EC;
	transition: opacity .5s, width .5s;
}

.menu__item__active::after {
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background-color: #0056EC;
}

.menu__item:hover::after, .menu__item__active:hover::after{
	opacity: 1;
	width: 100%;
}

.menu__item:hover {
	opacity: .8;
}


/* .menu__item:before, .menu__item:after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	top: 120%;
	transition: .5s;
	mix-blend-mode: multiply;
}

.menu__item:before {
	left: 0;
	background-color: #0056EC;
}

.menu__item:after {
	right: 0;
	background-color: #f600d5;
}
.menu__item__active:before, .menu__item__active::after {
	content: '';
	width: 50%;
	height: 3px;
	position: absolute;
	top: 120%;
	transition: .5s;
} */



/* .menu__item:hover:before{
	width: 50%;
	transform: translateX(100%);
}

.menu__item:hover:after{
	width: 50%;
	transform: translateX(-100%);
} */



/* Основной блок main-section */
.main__container {
	padding-right: 66%;
	padding-bottom: 150px;
	background: no-repeat top right url(img/bgc.svg);
}

.main__title {
	padding-top: 76px;
	margin-bottom: 35px;
	letter-spacing: 2px;
	font: bold 66px/87px 'Pt Serif', Arial, Helvetica, Sans-serif;
}

.main__title_bg {
	background-color: #ECF3FF;
}

.main__subtitle {
	margin-bottom: 40px;
	width: 455px;
	font-size: 22px;
	line-height: 26px;
}

.main__btn {
	display: inline-block;
	padding: 18px 19px;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	color: #fff;
	background-color: #0056EC;
	border-radius:	4px;	
	transition: transform .5s;
}

.main__btn:hover {
	transform: scale(1.2);
}